<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bremen.model.dao.TradeDao">

	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="trade" parameterType="String">
		SELECT *
		FROM trade
		WHERE tradePlace = #{tradePlace};
	</select>

	<!-- 상세 조회 -->
	<select id="selectOne" parameterType="int" resultType="trade">
		SELECT *
		FROM trade 	
		WHERE tradeId = #{tradeId};
	</select>
	
	<!-- 게시글 등록 디폴트랑 regdate 뺏음 -->

	<insert id="insertTrade" parameterType="trade">
		INSERT INTO trade
		(tradeId, tradeTitle, tradeContent, tradeWriter, tradeDate, tradePrice, tradePlace)
		VALUES (#{tradeId}, #{tradeTitle},#{tradeContent}, #{tradeWriter}, #{tradeDate}, #{tradePrice}, #{tradePlace})

	
	</insert>
	
	<!-- 게시글 삭제  -->
	<delete id="deleteTrade" parameterType="int">
		DELETE FROM trade
		WHERE tradeId = #{tradeId};
	</delete>
	
	<!-- 게시글 수정  -->
	<update id="updateTrade" parameterType="trade">
		UPDATE trade
		SET tradeTitle = #{tradeTitle}, tradeContent = #{tradeContent}, tradePrice = #{tradePrice}, tradePlace = #{tradePlace}
		WHERE tradeId = #{tradeId};
	</update>
	
	<!-- 조회수 증가  -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE trade
		SET tradeViewCnt = tradeViewCnt+1
		WHERE tradeId = #{tradeId};
	</update>
</mapper>
