<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bremen.model.dao.GroupDao">

	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="group" parameterType="String">
		SELECT *
		FROM `group`
		WHERE groupCategory = #{groupCategory};
	</select>

	<!-- 상세 조회 -->
	<select id="selectOne" parameterType="int" resultType="group">
		SELECT *
		FROM `group` 	
		WHERE groupId = #{groupId};
	</select>
	
	<!-- 게시글 등록 디폴트랑 regdate 뺏음 -->

	<insert id="insertGroup" parameterType="Group">
		INSERT INTO `group`
		(groupId, groupTitle, groupContent, groupWriter, groupCategory, groupMaxPeople, groupDate, positionX, positionY, groupTime)
		VALUES (#{groupId}, #{groupTitle}, #{groupContent}, #{groupWriter}, #{groupCategory}, #{groupMaxPeople}, #{groupDate}, #{positionX},  #{positionY},  #{groupTime})
	</insert>
	
	<!-- 게시글 삭제  -->
	<delete id="deleteGroup" parameterType="int">
		DELETE FROM `group`
		WHERE groupId = #{groupId};
	</delete>
	
	<!-- 게시글 수정  -->
	<update id="updateGroup" parameterType="Group">
		UPDATE `group`
		SET groupTitle = #{groupTitle}, groupContent = #{groupContent}, groupCurrentPeople = #{groupContent}
		WHERE groupId = #{groupId};
	</update>
	
	<!-- 조회수 증가  -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE `group`
		SET groupViewCnt = groupViewCnt+1
		WHERE groupId = #{groupId};
	</update>
</mapper>
